* {
    margin: 0;
    padding: 0;
}

.attr-container {
    display: inline-block;
    background-color: beige;
    margin-right: 40px;
    margin-top: 40px;
    padding: 20px;

}

.image-container {
    background-color: azure;
    padding: 50px;
    margin-bottom: 20px;

}


.comment {

    margin-bottom: 10px;
}

.like {

    margin-bottom: 10px;
}