.NavBar {
    /* background-color: var(--color-thirdly); */
    display: flex;
    flex-direction: row;
    color: white;
    justify-content: flex-end;
    gap: 1rem;
    padding: 3rem 0;
    padding-right: 7rem;
    font-size: large;
}