.sideBar {
    height: 200vh;
    background-color: rgba(14, 20, 26, 0.6);
    /* var(--color-thirdly); */
    color: #fff;
    padding: 2rem;
    position: relative;
}

.profileBtn {
    display: block;
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin: .5rem 0;
}

.icon_wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 5rem;
}

/* .close-btn {
    position: absolute;
    margin-right: 0;
}

.whole-form {
    box-shadow: #fff;
    position: relative;
} */