.btn {
    display: block;
    text-align: center;
    padding: .5rem 0;
    color: #fff;
    border: none;
    outline: none;
    margin-top: 1rem;
    width: 100%;
}

.logOut {
    background-color: var(--color-primary);
    margin-top: auto;
}

.logIn {
    background-color: green;
}

.addBtn {
    background-color: var(--color-fourthly);
    margin-bottom: 2rem;
}