.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.profilePic {
    border-radius: 50%;
}

.userName {
    list-style: none;

}

.username {
    font-size: medium;
    margin-block-start: 1em;
}